table{
    width: 40%;
    height: 200px;
    border-spacing: 0;
    border-collapse: collapse;
}
.title{
    font-family: fantasy;
}
.first{
    background-color: powderblue;
}

td{
    border: 2px solid pink;
    text-align: center;
 

}